<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
   window.textLogo = "<%= image_url('Ahchoo_Letter_Black.png') %>"
   window.signinImage = "<%= image_url('tony-l-sHxzqRt_3qo-unsplash.jpg') %>"
   window.blackArrow = "<%= image_url('Ahchoo_Black.png') %>"
   window.greenArrow = "<%= image_url('Ahchoo_Green.png') %>"
   window.redArrow = "<%= image_url('Ahchoo_Red.png') %>"
   window.ruby = "<%= image_url('ruby.png') %>"
   window.rails = "<%= image_url('rails.png') %>"
   window.react = "<%= image_url('react.png') %>"
   window.redux = "<%= image_url('redux.png') %>"
   window.postgresql = "<%= image_url('postgresql.png') %>"
   window.avatar = "<%= image_url('avatar.JPG') %>"
</script>

<main id="root"></main>