<!DOCTYPE html>
<html>
  <head>
    <title>Ahchoo</title>
    <meta property="og:title" content="Ahchoo" />
     <meta property='og:image' content="<%= image_url('ahchoo_linkedin.png') %>"/>
     <meta property="og:description"
       content="Ahchoo is a fullstack clone of Robinhood using Ruby on Rails and React/Redux. User can buy/sell assets and add stocks to wishlists. Financial data for the site is fetched from IEXCloud."
     />
     <meta property="og:url"
       content="https://ahchoo.herokuapp.com/"
     />
     <link rel="icon" type="image/png" href="<%= image_url('Ahchoo_Green.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
